<ion-view view-title="About">
  <ion-content>

    <div class="row">
      <div class="col col-33 col-offset-33">
        <img class="col-center" style="width: 100%" src="./img/trudaktari.png" alt="logo"/>
      </div>
    </div>

    <div class="row">
      <div class="col col-center">
        <h3 class="title text-center">Version 2.0.0</h3>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="card">
          <div class="item item-text-wrap text-center">
            TruDaktari is a platform which allows the general public to authenticate the medical health practitioners
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <p class="text-center">Find us on:</p>
      </div>
    </div>

    <div class="row">
      <div class="col-60 col-offset-20">
        <div class="button-bar">
          <a class="button"><i class="icon ion-social-facebook"></i></a>
          <a class="button"><i class="icon ion-social-twitter"></i> </a>
          <a class="button"><i class="icon ion-email"></i></a>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
