<ion-view view-title="Facility Details">
  <ion-content>
    
  	<div class="row">

      <div class="col">

        <div class="list card">

          <div class="item">
            
            <h2>{{facility.name}}</h2>
            <p>{{facility.type}}</p>
          </div>

          <div class="item item-image">
            <img src="http://trudaktari.azadautoworks.com/images/hospital.png">
          </div>

          <div class="item">
            <p>Registration Number</p>
            <h2>{{facility.reg_no}}</h2>
          </div>

          <div class="item">
            <p>Address</p>
            <h2>{{facility.address}}</h2>
          </div>

          <div class="item">
            <p>Type</p>
            <h2>{{facility.type}}</h2>
          </div>

          <div class="item">
            <p>Bed Capacity</p>
            <h2>{{facility.bed_capacity}}</h2>
          </div>

        </div>

      </div>

    </div>

  </ion-content>
</ion-view>
